<div class="well hoverwell thumbnail">

    <h2>{{ eventObj?.name }}</h2>

    <div>Date: {{ eventObj?.date }}</div>

    <div [ngStyle]="getStartTimeStyle()" [ngSwitch]="eventObj?.time">
        Time: {{ eventObj?.time }}
        <span *ngSwitchCase="'8:00 am'">(Early Start)</span>
        <span *ngSwitchCase="'10:00 am'">(Late Start)</span>
        <span *ngSwitchDefault>(Normal Start)</span>
    </div>

    <div>Price: £{{ eventObj?.price }}</div>

    <div *ngIf="eventObj?.location">
    
        <span>Location: {{ eventObj?.location?.address }}</span>
        <span class="pad-left">{{ eventObj?.location?.city }}, {{ eventObj?.location?.country }}</span>

    </div>

    <div *ngIf="eventObj?.onlineUrl">
        Online URL: {{ eventObj?.onlineUrl }}
    </div>

<div>
